<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="RodriguezModel" connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=smrodriguez" providerName="MySql.Data.MySqlClient" />-->
    <add name="RodriguezModel" connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=smrodriguez-dev" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>